.idea
.classpath
.project
out
*.iml
*.eml
build
target
*.log
*.log.*
generatorConfig.xml
.DS_Store
*.cache
*.lock
.gradle
*.class
/.gradle/
/.idea/
/jztd-ui/out/
/ui-static/dist
/server/dist
bin
.settings
/node_modules